{% extends "authentication/base.html" %}
{% block content %}
<div class="col-sm-5 container register">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="col-sm-10 tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Login</h3>
                            <div class="row register-form">
                                <div class="col-sm-10">
                                    <form method="POST">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <input type="text" name="username" class="form-control" placeholder="Your Email *" value="" required=""/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="Your Password *" value="" required=""/>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="LGform1" class="btnContactSubmit" value="Login" />
                                            <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
                                            <br><br>
                                            <a href="{% url 'gsregister' %}" class="btnForgetPwd" value = "register">Sign Up</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}