{% extends "authentication/base.html" %}
{% block content %}
      <div class="col-sm-5 container register">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="student" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Student Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="faculty" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Faculty Sign Up</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="col-sm-10 tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Student Sign Up</h3>
                            <div class="row register-form">
                                <div class="col-sm-10">
                                    <form method="POST" action = "{% url 'student_register'%}" >
                                    	{% csrf_token %}
                                    	{% for field in student_form %}
            						                    <div class="form-group">
            						                            {{ field.errors }}
            						                            {{ field }}                            
            						                      
            						                            {% if field.help_text %}
            						                            {{ field.help_text }}
            						                            {% endif %}
            						                    </div>
						                           {% endfor %}
                            
                                        <div class="form-group">
                                            <input type="submit" name="LGform1" class="btnContactSubmit" value="Sign Up" />
                                            <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
                                            <br><br>
                                            <a href="{% url 'login' %}" class="btnForgetPwd" value = "Signin">Sign In</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 tab-pane fade show text-align form-new" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h3  class="register-heading">Faculty Sign Up</h3>
                            <div class="row register-form">
                                <div class="col-sm-10">
                                    <form method="POST"  action = "{% url 'faculty_register'%}">
                                        {% csrf_token %}
                                        {% for field in faculty_form %}
						                    <div class="form-group">
						                        
						                            {{ field.errors }}
						                            {{ field }}                            
						                      
						                            {% if field.help_text %}
						                            {{ field.help_text }}
						                            {% endif %}
						                    </div>
						                {% endfor %}
                                        <div class="form-group">
                                            <input type="submit" name="LGform2" class="btnContactSubmit" value="Sign Up" />
                                           <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
                                            <br><br>
                                            <a href="{% url 'login' %}" class="btnForgetPwd" value = "Signin">Sign In</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                        var outertab = document.getElementById("myTab");
                        var innertab = document.getElementById("myTabContent");
                        var anch = outertab.getElementsByClassName("nav-link");
                        var gsform = innertab.getElementsByClassName("tab-pane");
                        for (var i = 0; i < anch.length; i++) {
                          anch[i].addEventListener("click", function(i) {
                          var current = outertab.getElementsByClassName("active");
                          var currentin = innertab.getElementsByClassName("active");
                          current[0].className = current[0].className.replace(" active", "");
                          currentin[0].className = currentin[0].className.replace(" active", "");
                          if(this.id==="student"){
                            gsform[0].className += " active";
                          }
                          else {
                            gsform[1].className += " active";
                          }
                          this.className += " active";
                          });
                        }
                </script>
            </div>
        </div>
    {% endblock content %}
