{% extends 'base.html' %}



{% block content %}
<!-- <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">Save</button>
    </form> -->
<h2>
    Welcome {{name}} to the Dashboard !
</h2>
<hr>
</h2>

{% if information %}

<h2>
    {{ information }}

    <hr>
    {% endif %}
    <h3>
        Your Profile
    </h3>
    <div class="row">
        <div class="col-lg-8">
            {% for key,value in user_details.items %}
            <a>
                <hr>
                <div class="row">
                    <div class="col-sm-2">{{ key }} </div>
                    <div class="col-sm-2">{{ value }}</div>
                </div>
            </a>

            <br>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <img src="../media/profile_pictures/u2gmail.com.png">
        </div>
    </div>



    {% endblock %}