{% extends 'base.html' %}



{% block content %}
	<div class="container">
	<h3>Pending Courses</h3>
		{% if pending_courses %}
		<table class="table table-hover">
	 		<tr>
	 			<th>course id</th>
	 			<th>course name</th>
	 			<th>course department</th>
	 			<th>status</th>
	 			<th>course details</th>
	 		</tr>
	 		{% for crse in pending_courses %}
	 		<tr>
	 			<td>{{crse.course.course_id}}</td>
	 			<td>{{crse.course.name}}</td>
	 			<td>{{crse.course.department}}</td>
	 			<td>{{crse.action}}</td>
	 			<td><a class="btn bg-success" href="{% url 'courses.details' %}?id={{crse.course.course_id}}">view</a></td>
	 		</tr>
	 		{% endfor %}
	 	</table>
	 	{% else %}
	 	<p>You don't have any pending courses</p>
	 	{% endif %}

	</div>


	<br><br>
 	<div class="container">
 	<h3>Enrolled Courses</h3>
 	{% if enrolled_courses %}
 	<form action="{% url 'courses.enrolled' %}" method="POST">
 		{% csrf_token %}
 	<table class="table table-hover">
 		<tr>
 			<th>course id</th>
 			<th>course name</th>
 			<th>course department</th>
 			<th>View Attendance</th>
 			<th>Course Details</th>

 		</tr>
 		{% for crse in enrolled_courses %}
 		<tr>
 			{% if qtype == 'student' %}
 			<td>
 				<input type="checkbox" name="course" value="{{crse.course.course_id}}">
 				<label for = '{{crse.course.course_id}}'>{{crse.course.course_id}}</label>
 			</td>
 			{% else %}
 				<td>{{crse.course.course_id}}</td>
 			{% endif %}
 			<td>{{crse.course.name}}</td>
 			<td>{{crse.course.department}}</td>
 			<td><a class="btn bg-primary" href="{% url 'courses.details' %}?id={{crse.course.course_id}}">Attendance</a>
 			</td>
 			<td>
 			<a class="btn bg-success" href="{% url 'courses.details' %}?id={{crse.course.course_id}}">view</a></td>
 		</tr>
 		{% endfor %}
 	</table>
 	{% if qtype == 'student' %}
 	<button class="btn bg-warning" type="submit">DROP</button>
 	{% endif %}
 	</form>
 	{% else %}
	 	<p>Currently you don't have any enrolled courses</p>
	 {% endif %}
 	</div>


	<br><br>
 	<div class="container">
	<h3>Completed Courses</h3>
	{% if completed_courses %}
		<table class="table table-hover">
	 		<tr>
	 			<th>course id</th>
	 			<th>course name</th>
	 			<th>course department</th>
	 			<th>status</th>
	 			<th>course details</th>

	 		</tr>
	 		{% for crse in completed_courses %}
	 		<tr>
	 			<td>{{crse.course.course_id}}</td>
	 			<td>{{crse.course.name}}</td>
	 			<td>{{crse.course.department}}</td>
	 			<td>{{crse.action}}</td>
	 			<td><a class="btn bg-success" href="{% url 'courses.details' %}?id={{crse.course.course_id}}">view</a></td>
	 		</tr>
	 		{% endfor %}
	 	</table>
	 {% else %}
	 	<p>Currently you don't have any completed courses</p>
	 {% endif %}
	</div>



<br><br>
<div class="container">
	<h3>Failed Courses</h3>
	{% if failed_courses %}
		<table class="table table-hover">
	 		<tr>
	 			<th>course id</th>
	 			<th>course name</th>
	 			<th>course department</th>
	 			<th>status</th>
	 			<th>course details</th>

	 		</tr>
	 		{% for crse in failed_courses %}
	 		<tr>
	 			<td>{{crse.course.course_id}}</td>
	 			<td>{{crse.course.name}}</td>
	 			<td>{{crse.course.department}}</td>
	 			<td>{{crse.action}}</td>
	 			<td><a class="btn bg-success" href="{% url 'courses.details' %}?id={{crse.course.course_id}}">view</a></td>
	 		</tr>
	 		{% endfor %}
	 	</table>
	 {% else %}
	 	<p>No failed courses</p>
	 {% endif %}
	</div>



 {% endblock %}
