{% extends 'base.html' %}

{% block content %}

<div class="container" style="width: 60%;" >
  {% if ele.status %}
            <div class="text" style="background-color: lightgreen;height: 1cm;text-align: center;border-color: black;border-radius: 7px;  ">Marked</div>
            {% else %}
            <div class="text" style="background-color:lightcoral;height: 1cm;text-align: center;border-color: black;border-radius: 7px; ">Attendance In Queue, Pending ! You can still modify manually</div>
           
            {% endif%}

  <table class="table table-hover">
    <label> Details</label>
    <tr>
      <th>Date</th>
      <th>:</th>
      <td>{{ detail.date }}</td>
    </tr>
    <tr>
      <th>Slot</th>
      <th>:</th>
      <td>{{ detail.slot }}</td>
    </tr>
    <tr>
      <th>Time of entry</th>
      <th>:</th>
      <td>{{ detail.entry_timestamp }}</td>
    </tr>
    <tr>
      <th>Course</th>
      <th>:</th>
      <td>{{ detail.course }}</td>
    </tr>
    

  </table>



</div>
<br><br>
<div class="container" style="width: 60%;">
  {% if ele.status %}
            <div class="text" style="background-color: lightgreen;height: 1cm;text-align: center;border-color: black;border-radius: 7px;  ">Marked</div>
            {% else %}
            <div class="text" style="background-color:lightcoral;height: 1cm;text-align: center;border-color: black;border-radius: 7px; ">Attendance In Queue, Pending ! You can still modify manually</div>
           
            {% endif%}
<!--  <h2>Hover Rows</h2>-->
  <p>Presentees</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for member in names %}
      <tr>
        <td>{{ member.user.full_name }}</td>
        <td>{{ member.user.email }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  <br>
  <br><hr>
  <div class="btn-primary btn" onclick="location.href='{% url 'attendance.modify' pk=detail.pk %}';">Modify </div>
</div>



{% endblock %}
