{% extends 'base.html' %}

{% block content %}

<div class="container"  >
    
    Date {{ detail.date }}
    <br>
    <hr width="30%" >
    Slot {{ detail.slot }}
    <br><hr width="30%" > 
    Time of entry {{ detail.timestamp }}
    <br><hr width="30%" > 
    Course {{ detail.course }}
    <br><hr width="30%" > 
    
</div>
<br><br>
<div class="container">
<!--  <h2>Hover Rows</h2>-->
  <p>Presentees</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for member in details.roll_calls %}
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}
