{% extends 'base.html' %}

{% block content %}

{% for ele in entries %}
<div class="card" style="width: 50%;" onclick="location.href='{% url 'attendance.details' pk=ele.entry.pk %}';" >
    <div class="row" style="height: 1cm;" >
        <div class="col-md-7">
            {{ ele.entry }}
        </div>
        <div class="col-md-5"  >
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ele.percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{ele.percent}}% ;height: 1cm;" >
                {{ele.percent}}
            </div>
        </div>
    </div>

</div>
<br>
{% endfor %}

{% endblock %}
<!-- "location.href = '../details/{{ entry.pk }}';"  -->
