{% extends 'base.html' %}

{% block content %}

{% for course in courses %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <a href = "{% url 'attendance.history_courses' %}/{{ course.course_id }}">{{ course.name }},{{ course.course_id }}</a>
        <!-- <div class="btn-primary" onclick="location.href = {% url 'attendance.history_courses' %}/{{ course.course_id }}" > {{ course.name }},{{ course.course_id }}  </div> -->
        <br>
    </div>
</div>

{% endfor %}

{% endblock %}
