{% extends 'base.html' %}

{% block content %}

<div class="container">
 		<h3>Attendence list</h3>

 	<form action="../modify/{{ id }}" method="POST">
 		{% csrf_token %}
 		<input type="text" name="id" hidden="True" value="{{id}}">
  	<table class="table table-hover">
 		<tr>
 			<th>email</th>
 			<th>name</th>

 		</tr>
 		{% for crse in student_list %}
 		<tr>
 			<td>

 				<!-- <input type="checkbox" name="student" value="{{crse.student}}" checked = {{crse.present}}> -->
 				{% if crse.present == True %}
 				<input type="checkbox" name="student" value="{{crse.student}}" checked>
 				{% else %}
 				<input type="checkbox" name="student" value="{{crse.student}}">
 				{% endif %}
 				<label for = '{{crse.name.user.email}}'>{{crse.student.user.email}}</label>
 			</td>
 			<td>{{crse.student.user.full_name}}</td>
 		</tr>
 		{% endfor %}
 	</table>
 	<button class="btn bg-warning" type="submit">Modify</button>
 	</form>
 	</div>


{% endblock %}
